*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}

/* header */
#main-bar{
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;

  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
}

.border-icon{
  height: 23px;
  padding: 4px 7px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #4A4A4A;
  border-radius: 5px;
  font-size: 12px;
}

/* main */
#main-container{
  width: 100%;
  height: 100vh;
  margin: 60px 0 80px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-size{
  width: 170;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 10px;
  position: relative;
}

.utente{
  font-size: 11px;
  padding: 5px;
  color: #fff;
  background-color:rgba(0, 0, 0, 0.4);

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}





/* footer bar */
#ftr-bar{
  width: 100%;
  height: 60px;
  background-color: #222;

  position: fixed;
  bottom: 0;
  left: 0;
}