*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
}

/* header */
#main-bar{
  width: 100vw;
  height: 60px;
  background-color: #000;

  position: fixed;
  top: 0;
  left: 0;
}

/* main */
#main-container{
  width: calc(100% - 120px);
  height: 100vh;
  margin: 60px 60px 0;

  /* debug */
  background-color: #333;
}




/* footer bar */
#ftr-bar{
  width: 100vw;
  height: 60px;
  background-color: #222;

  position: fixed;
  bottom: 0;
  left: 0;
}